@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "メイリオ";
}

body {
    background-color: #F4F5F7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* background-color: #fedcbd; */
    background: -webkit-linear-gradient(to right, #ffba73, #ffb2b2);
    background: linear-gradient(to right, #ffba73, #ffb2b2);
}

#title {
    line-height: 50px;
    float: left;
}

#title:before {
    content: "";
    display: inline-block;
    background: url("favicon.ico");
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 10px;
    vertical-align: middle;
}

#nav-list {
    display: flex;
    list-style: none
}

.nav-list-item a {
    display: block;
    padding: 1.5rem 1rem;
    text-decoration: none;
    color: #222;
}

.image {
    text-align: center;
    margin: 50px;
}

.button {
    display: flex;
    justify-content: center;
}

#browser {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    margin: auto;
    padding: 1rem 4rem;
    font-weight: bold;
    color: #27acd9;
    border-bottom: 2px solid #27acd9;
    border-radius: 100vh;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
    transition: 0.5s;
}

#browser:hover {
    color: #fff;
    background: #27acd9;
    border-bottom: 2px solid #fff;
    transform: translateY(3px);
}

#cluster {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    margin: auto;
    padding: 1rem 4rem;
    font-weight: bold;
    color: #27acd9;
    border-bottom: 2px solid #27acd9;
    border-radius: 100vh;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
    transition: 0.5s;
}

#cluster:hover {
    color: #fff;
    background: #27acd9;
    border-bottom: 2px solid #fff;
    transform: translateY(3px);
}

#how-to-play:after {
    content: "";
    display: block;
    height: 4px;
    background: -webkit-linear-gradient(to right, #ffba73, #ffb2b2);
    background: linear-gradient(to right, #ffba73, #ffb2b2);
}

#about-Ashikaga-gaku:after {
    content: "";
    display: block;
    height: 4px;
    background: -webkit-linear-gradient(to right, #ffba73, #ffb2b2);
    background: linear-gradient(to right, #ffba73, #ffb2b2);
}